<div class="container-basics">
    <h1>JavaScript para iniciantes</h1>

    <p>Varíaveis são responsáveis por guardar dados na memória.</p>
    <p>É possivel iniciar uma variável de 3 formas, var, let e const.</p>
    <br>
    <div class="variaveis">
        <div>
            <h2>Nomeando variáveis</h2>
            <ul>
                <li>Os nomes podem iniciar com $,_ ou letras;</li>
                <li>Case sensitive: nome é diferente de Nome;</li>
                <li>Não utilizar palavras reservadas;</li>
                <li>É comum nomear variáveis utilizando camelCase</li>
            </ul>
        </div>
        <div>
        <h2>Tipos de dados</h2>
        <ul>
            <li>String</li>
            <li>Number</li>
            <li>Boolean</li>
            <li>Undefined</li>
            <li>Null</li>
            <li>Symbol</li>
            <li>Object</li>
        </ul>
        </div>  
       

        <div>
            <h2>Operadores Aritiméticos</h2>
            <ul>
                <li>Soma: 10 + 10;</li>
                <li>Subtração: 10 - 10;</li>
                <li>Multiplicação: 10 * 10;</li>
                <li>Divisão: 10 / 10;</li>
                <li>Expoente: 10 ** 10;</li>
                <li>Modulo: 10 % 10;</li>
            </ul>
        </div>
        <div>
            <h2>Operadores Aritimético</h2>
            <ul>
                <li>valor++: Incrementa o valor no fim da execução;</li>
                <li>++valor: Incrementa o valor antes da execução;</li>
                <li>valor--: Decrementa o valor no fim da execução;</li>
                <li>--valor: Decrementa o valor antes da execução;</li>
                <li>+valor: Transforma String numérica em numero;</li>
                <li>-valor: Transforma String numérica em negativo;</li>
            </ul>
        </div>
    </div>
    <h2>Operadores de comparação</h2>
    <div>
        <ul>
            <li>10 < 5</li>
            <li>10 > 5</li>
            <li>10 <= 5</li>
            <li>10 >= 5</li>
            <li>10 == 10</li>
            <li>10 === 10</li>
            <li>10 != 10</li>
            <li>10 !== 10</li>
        </ul>
    </div>

    <i><p><strong>Type of</strong> retorna o tipo de uma variável.</p></i>
    <i><p>Utilize o backslash para ignorar o valor semantico de um caractere colocando entre "/"</p></i>
    <i><p>Para negar um valor, utilize '!' antes da utilização(!valor).</p></i>
    <i><p>O operador lógico "e" é reprentado por && e o operador lógico "ou" é representado por "||"</p></i>

    <p><strong>Switch:</strong> é possivel verificar se uma variável é igual à diferentes valores utilizando o <strong>case</strong>. Caso ele seja igual, você pode executar um bloco de código e finalizalo com a palavra <strong>break</strong>. O Valor default ocorrerá caso nenhuma das condições switch sejam atendidas.</p>

    <h2>Funções</h2>
    <p>Bloco de código que pode ser executado e reutilizado. Valores podem ser passados por uma função e a mesma retorna outro valor.</p>
    <p>Ao criar uma função, você pode definir <strong>parâmetros</strong>.</p>
    <p>Ao executar uma função, você pode passar <strong>argumentos</strong>.</p>
    <p>Argumentos podem ser funções. Chamadas de Callback, geralmente são funções que ocorrem após algum evento.</p>

    <h2>Arrays</h2>
    <table>
        <thead>
            <th>Métodos ou propriedades</th>
            <th>Função</th>
        </thead>
        <tbody>
            <td>pop</td>
            <td>Remove o último item e remove ele.</td>
        </tbody>
        <tbody>
            <td>push</td>
            <td>Adiciona um item na ultima posição do Array.</td>
        </tbody>
    </table>

    <br><br>
    <h2>Loops</h2>
    <button class="btn btn-primary" (click)="testandoLoops()">Clique</button>

</div>