@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body {
    margin: 0;
    font-size: 20px;
}

.container-header{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;    
    font-weight: 500;

    img{
        height: 30px;
        cursor: pointer;
    }
}

header {
    box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.29);
    font-family: 'Roboto', sans-serif;
    position: fixed;    
    font-size: 18px;    
    height: 70px;
    z-index: 999999;
    background-color: var( --background-color);
    width: 100%;
    a {
        color: var(--font-color);        
        text-decoration: none;
        
    }

    .active{
        background: var(--background-color-hover);
        border-radius: 5px;
    }

    .brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        p{
            background-color: red;
        }
        img{
            height: 30px;
        }
    }

    nav {
        float: right;
        height: 100%;
        display: flex;
        align-items: center;

        ul {            
            list-style-type: none;            
            display: flex;
            margin-top: .9em;
            align-items: center;  
            gap: 1em;          
            
            li  {
                padding: 1em;

                a{                    
                    padding: 1em;
                    max-width: 70px;
                }

                &:hover {
                    background: var(--background-color-hover);
                    cursor: pointer;
                    border-radius: 5px;                    
                }       

                &:first-child:hover  ~.secondary-menu{
                    display: block;
                }
            }
        }
    }
}

// .secondary-menu{
//     width: 100%;
//     height: 300px;
//     box-shadow: 1px 1px 5px -2px rgba(0,0,0,0.29);
//     position: absolute;
//     bottom: 0;
//     transform: translateY(100%);    
//     left: 0;
//     font-size: 16px;
//     background-color: var(--background-color);
//     z-index: 300;
//     border-bottom: 1px solid #0000001e;
 
    
//     .secondary-menu-content{
//         width: 80%;
//         margin: 0 auto;              
//         display: flex;        
//         align-items: center;        
//         height: 100%;        
//         .topics{
//             display: flex;
//             ul{
//                 display: block;
//                 li{
//                     padding: .7em;
//                     border-bottom: var(--border);
//                 }
//             }                                    
//         }
//     }
// }

h1 {
    margin-top: 2em;
}