<div class="container-objects">
    <h1>Objetos</h1>

    <p>Para criar um objeto, basta definir uma variável e iniciar a definição de seu valor com chaves.</p>
    <br>    
    <dl>
        <dt>Constructor Functions</dt>
        <dd>São responsáveis por construir novos objetos sempre que chamamos a mesma.</dd>
        <dt>Keyword "new"</dt>
        <dd>A palavra "new" é responsável por criar um novo objeto baseado na função construtora.</dd>
        <dt>Keyword "this"</dt>
        <dd>Faz referência ao próprio objeto costruido com a Constructor function.</dd>
        <dt>Construtores nativos</dt>
        <dd>Objetos, Funções, numeros, strings e outros tipos de dados são criados utilizando construtores. Esses construtores possue protótipo com propriedades e métodos que poderão ser acessados pelo tipo de dado.</dd>
    </dl>

    <table>
        <tbody>
            <td>const teste = Array.from(arrayLike)</td>
            <td>Converte um arrayLike em Array</td>
        </tbody>
        <tbody>
            <td>const lista = Array.from(nodeList)</td>
            <td>Transforma uma nodeList em Array</td>
        </tbody>
    </table>
    <br>
    <p>Prototypes estão ligados a função construtora. Objetos criados a partir deste constructor não possuem prototype.</p>
    <p>Caso um dos objetos instanciados tenha especificidades, como funções ou atributos diferentes, é possivel crialos no prototype, não afetando o construtor.</p>
    <p>O Objeto criado utilizando o construtor possui acesso aos métodos e pripriedades do protótipo.</p>

</div>