<div class="container-java-script">
    <div class="side-nav">
        <div class="conteudo">
            <h1>JavaScript</h1>
            <ul>
                <li routerLink="basico" routerLinkActive="active">Básico</li>
                <li routerLink="dom" routerLinkActive="active">Dom para iniciantes</li>
                <li><a>Objetos</a></li>
                <li><a>Efeitos no Dom</a></li>
                <li><a>JavaScript Assincrono</a></li>
                <li><a>Classes</a></li>
                <li><a>Mais JavaScript</a></li>
                <li><a>Expressões regulares</a></li>
                <li><a>Automação Front-end</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>        
    </div>
</div>