<div class="container-sand-box">
    <div class="code">
        <form [formGroup]="form" class="code-container">
            <textarea #editor name="sand-box"[(ngModel)]="content" formControlName="contentEditor" [spellcheck]="false" placeholder="// Digite seu código aqui"></textarea>
            <pre><code #codeViewer [class]="'language-' + language | lowercase"></code></pre>
         </form>
        <select name="language" id="language" [(ngModel)]="language" (change)="languageChange()">
            <option value="js">JS</option>
            <option value="JSON" disabled>TS</option>
            <option value="CSS" disabled>CSS</option>
          </select>    
    </div>
    <div class="feedback">
        <div class="console"><p #outputField></p></div>
        <div class="error"><p #errorField></p></div>
    </div>
</div>
