<div class="container">
    <h1>Template</h1>
    <p>Cada template Angular em seu aplicativo é uma seção de HTML a ser incluída como parte da página que o navegador exibe. Um modelo Angular HTML renderiza uma visualização ou interface do usuário no navegador, assim como o HTML normal, mas com muito mais funcionalidade.
    </p>
    <hr class="rounded">
    <p>Quando você gera um aplicativo Angular com a CLI Angular, o arquivo app.component.html é o modelo padrão que contém HTML de espaço reservado.
    </p>
    <hr class="rounded">

    <p>Utilizar template em linha (dentro do próprio componente) deve ser utilizado apenas se o conteudo html tiver até 3 linhas.</p>
</div>