<div class="container">
    <h1>Modulos</h1>
    <p>Aplicações Angular são modulares e o Angular possui seu próprio sistema de modularidade chamado NgModules. NgModules são containers para um bloco coeso de código dedicado a um domínio de aplicativo, um fluxo de trabalho ou um conjunto de recursos estreitamente relacionado. Eles podem conter componentes, provedores de serviços e outros arquivos de código cujo escopo é definido pelo NgModule que os contém. Eles podem importar funcionalidades que são exportadas de outros NgModules e exportar funcionalidades selecionadas para uso por outros NgModules.</p>
    <hr class="rounded">
    <p><strong>Declarations</strong>: Listará todos os componentes, diretivas e pipes que queremos utilizar neste modulo.</p>
    <p><strong>Imports</strong>: Outros modulos que queremos utilizar neste modulo ou dentro de algum componente que pertence a ele.</p>
    <p><strong>Providers</strong>: Serviços que firacão disponíveis a todos os componentes declarados neste modulo.</p>
    <p><strong>Exports</strong>: Informar quais as declarações deste modulo que queremos expor para outros módulos.</p>
    <br>
    <hr class="rounded">
    <ul>
        <span>Comandos</span>
        <li>- ng generate module [name]</li>
        <li>- ng generate m [name]</li>
    </ul>

    <p>Separar importes nativos e de componentes criados por boa prática.</p>

</div>