@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
.container-module{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;    
    font-family: 'Roboto', sans-serif;       
    
    ul{
        list-style: none;
        padding: 1em 0px;
    }

    p{
        padding: 1em 0;
    }

    span{
        padding: 2em 0;
        font-weight: bold;
    }

}