<div class="container-angular">
    <div class="side-nav">
        <div class="conteudo">
            <h1>Angular</h1>
            <ul>
                <li routerLink="cli" routerLinkActive="active ">CLI</li>
                <li routerLink="module" routerLinkActive="active">Modulos</li>
                <li routerLink="binding" routerLinkActive="active">Binding</li>
                <li routerLink="diretivas" routerLinkActive="active">Diretivas</li>
                <li routerLink="input" routerLinkActive="active">Input</li>
                <li routerLink="input" routerLinkActive="active">Output</li>
                <li routerLink="objetos" routerLinkActive="active">Ng-content</li>
                <li routerLink="life-cycle" routerLinkActive="active">Lyfe Cicle</li>
                <li routerLink="services" routerLinkActive="active">Services</li>
                <li routerLink="template" routerLinkActive="active">Template</li>       
            </ul>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>        
    </div>
</div>