<div class="container-cli">
    <h1>Angular CLI</h1>

    <table>
        <tr>
          <th>Comando</th>
          <th>Função</th>          
        </tr>
        <tr>
          <td>ng new nome</td>
          <td>Cria um novo projeto Angular</td>          
        </tr>
        <tr>
            <td>ng generate component</td>
            <td>Criar um novo componente Angular</td>
        </tr>
        <tr>
            <td>ng new projeto --style=(sass/less/stylus )</td>
            <td>Cria um projeto, setando um pré-processador default/td>
        </tr>   
        <tr>
            <td>ng set defaults.styleExt scss/td>
            <td>Seta um pré-processador em um projeto já criado/td>
        </tr>   
        <tr>
            <td>ng lint</td>
            <td>Faz uma varredura para checar se seu código possui algum erro em potencial ou se segue os padrões e convenções da linguagem em uso</td>
        </tr>        
        <tr>
            <td>ng test</td>
            <td>Executa os testes criados nos arquivos spec</td>
        </tr>   
        <tr>
            <td>ng e2e</td>
            <td>Executa testes end to end</td>
        </tr>   
        <tr>
            <td>ng build</td>
            <td>Compila o projeto e realiza as tarefás que ô tornam apto a rodar em um servidor.</td>
        </tr>   
    </table>    

</div>